---
import BasicLayout from "../../global/layouts/BasicLayout.astro"
---

<BasicLayout>
    <div class="container mx-auto">
        <header class="flex mt-8">
            <div class="flex-grow"></div>
            <nav>
                <ul class="flex gap-x-4 font-serif">
                    <li class="text-xl peer hover:animate-glow">
                        <a href="/zh-TW/about">關於我</a>
                    </li>
                    <li class="text-xl peer hover:animate-glow">
                        <a href="/zh-TW/blog">文章</a>
                    </li>
                    <li class="text-xl peer hover:animate-glow">
                        <a href="/zh-TW/design">設計</a>
                    </li>
                    <li class="text-xl animate-glow peer-hover:animate-none">
                        <a href="/zh-TW/novel">小說</a>
                    </li>
                </ul>
            </nav>
        </header>
        <blockquote class="font-serif mt-8">
            每到星期天中午12點，晴子一定會靠在公寓陽台，聽著從風中飄來的合唱的聲音。<br
            />
             在某個遙遠的地方，一定有許多快樂的人們。一定。像是為了確認甚麼似的，她將手掌打開又握緊。


            <br /><br />
             —— 《晴子》
        </blockquote>
        <div class="flex flex-row-reverse mt-40">
            <img src="/reach for sky.png" width="112" />
        </div>
    </div>
</BasicLayout>
