---
import PortfolioLayout from "../../global/layouts/PortfolioLayout.astro"
---

<style>
    .active {
        text-decoration: underline;
        /* color: black; */
    }
</style>

<PortfolioLayout title="旦晨工作室" className="bg-[#f4f4f3]">
    <header>
        <nav
            class="fixed bg-white w-full z-10 h-12 flex justify-center items-center"
        >
            <div class="flex-grow"></div>
            <ul class="flex mr-28">
                <li class="mx-4">
                    <a href="/">About</a>
                </li>
                <li class="mx-4"><a href="#Services">Services</a></li>
                <li class="mx-4"><a href="#Projects">Projects</a></li>
                <li class="mx-4"><a href="#Contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="">
        <div class="flex bg-[#f4f4f3] min-h-screen">
            <div class="ml-20 flex-grow">
                <div class="text-black/40 mt-28 mb-16">
                    <a href="#Inventors" class="slideAnchor">Inventors</a>,
                    <a href="#Creators" class="slideAnchor">Creators</a>,
                    <a href="#Entrepreneurs" class="slideAnchor"
                        >Entrepreneurs</a
                    >: <span class="text-sm">Starry Eyed Dreamers</span>
                </div>
                <div class="carousel relative">
                    <div id="Inventors" class="w-full shrink-0">
                        <h1 class="text-3xl">為你的點子賦予形狀</h1>
                        <ul class="text-black/60 mt-12">
                            <li class="my-2">
                                數位產品雛型開發 High Fidelity Prototype
                            </li>
                            <li class="my-2">微型軟體服務 Micro SaaS</li>
                            <li class="my-2">
                                個人生產力系統 Personal Productivity System
                            </li>
                        </ul>
                    </div>
                    <div id="Creators" class="w-full shrink-0">
                        <h1 class="text-3xl">量身打造視覺風格</h1>
                        <ul class="text-black/60 mt-12">
                            <li class="my-2">個人作品集 Personal Portfolio</li>
                            <li class="my-2">粉絲互動 Fan Connection</li>
                            <li class="my-2">數位行銷 Digital Marketing</li>
                        </ul>
                    </div>
                    <div id="Entrepreneurs" class="w-full shrink-0">
                        <h1 class="text-3xl">提升企業數位創新力</h1>
                        <ul class="text-black/60 mt-12">
                            <li class="my-2">
                                企業形象網站 Consumer-Facing Website
                            </li>
                            <li class="my-2">電商網站 E-Commerce</li>
                            <li class="my-2">
                                企業後臺網站 Enterprise Management System
                            </li>
                            <li class="my-2">數位行銷 Digital Marketing</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mr-20 flex-shrink-0">
                <img
                    class="w-96 animate-fadeIn"
                    src="/mainVisual.png"
                    alt="Sun In Hand"
                />
                <div class="text-sm text-black/30 ml-4 text-center">
                    <div class="py-1">Made With Adobe Photoshop</div>
                    <div>
                        Photo Credit <a
                            href="https://unsplash.com/photos/silhouette-of-man-standing-on-seashore-during-sunset-WPnUcMDj-6M"
                            class="underline">Ashraful Haque Akash</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="ml-20">
            <h1 class="text-2xl" id="Services">服務項目 Services</h1>
            <div>
                <div>
                    <div class="text-lg mt-2">靜態網頁</div>
                    <div class="text-sm text-black/40">
                        一頁式網站，活動網站，商家官網，個人作品集網站...
                    </div>
                    <div class="text-sm text-black/40">$3000 起</div>
                </div>
                <div>
                    <div class="mt-2 text-lg">動態網站</div>
                    <div class="text-sm text-black/40">
                        電商網站，會員網站，企業後臺管理網站...
                    </div>
                    <div class="text-sm text-black/40">$15000 起</div>
                </div>
                <div>
                    <div class="text-lg mt-2">平面設計</div>
                    <div class="text-sm text-black/40">
                        名片設計，海報設計，網頁設計，品牌 Logo，品牌視覺形象...
                    </div>
                    <div class="text-sm text-black/40">$1500 起</div>
                </div>
            </div>
        </div>
        <div class="ml-20 mt-12">
            <h1 class="text-2xl" id="Projects">作品集 Projects</h1>
            <div class="border-l-4 pl-4 my-4 flex">
                <img src="/personal.png" class="w-80" />
                <div class="ml-4">
                    <div class="text-lg mb-2">個人網站</div>
                    <div>我的個人網站，用來存放寫的東西</div>
                </div>
            </div>
            <div class="border-l-4 pl-4 my-4 flex">
                <img src="/questionnaireProject.png" class="w-80" />
                <div class="ml-4">
                    <div class="text-lg mb-2">醫師問卷系統</div>
                    <div>計算病人填答問卷分數並立刻存入資料庫的系統</div>
                </div>
            </div>
        </div>
        <div class="ml-20 mt-12">
            <h1 class="text-2xl mb-4" id="Contact">聯繫 Contact</h1>
            <form id="ContactForm">
                <input
                    class="input bg-transparent w-24"
                    type="text"
                    name="name"
                    placeholder="姓名"
                    required
                />
                <input
                    class="input bg-transparent ml-12 w-60"
                    type="email"
                    name="mail"
                    placeholder="信箱"
                    required
                />
                <input
                    class="input bg-transparent block my-4 w-96"
                    type="text"
                    name="item"
                    placeholder="想要詢問的項目"
                    required
                />
                <textarea
                    name="info"
                    class="input bg-transparent mb-4 w-96 h-40"
                    placeholder="其他想補充的"></textarea>
                <button
                    type="submit"
                    class="rounded bg-transparent border block p-2 text-black/60 hover:text-black hover:shadow"
                    >送出</button
                >
                <div id="submitResultMsg" class="my-4 invisible">
                    很高興能與您合作，我們將儘快進一步與您聯絡。
                </div>
            </form>
        </div>
    </main>
    <footer class="w-full flex py-2 mt-16">
        <div class="flex-grow"></div>
        <div class="text-sm text-black/50 mr-20 text-right">
            <div>2023 © 水象工作室</div>
            <div class="py-1">
                <a href="https://facebook.com/FirstRayStudio">關於</a> /
                <a href="https://facebook.com/FirstRayStudio">服務</a> /
                <a href="https://facebook.com/FirstRayStudio">作品</a> /
                <a href="https://facebook.com/FirstRayStudio">聯繫</a>
            </div>
            <div>
                <a href="https://line.me/ti/p/bfLGU-WKqS">FB</a> /
                <a href="https://facebook.com/FirstRayStudio">LINE</a>
            </div>
        </div>
    </footer>
</PortfolioLayout>

<script>
    const slides = document.querySelectorAll(".carousel div")
    if (!slides.length) throw new Error("No slides found")

    const slideIntersectionObserver = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
                const link = document.querySelector(
                    `a[href="#${entry.target.id}"]`,
                )

                if (!link) return
                // console.log(entry)
                // carousel item somehow larger than carousel container when using flex
                if (entry.intersectionRatio > 0.99) {
                    link.classList.add("active")
                } else {
                    link.classList.remove("active")
                }
            })
        },
        {
            root: document.querySelector(".carousel"),
            rootMargin: "0px 0px 0px 0px",
            threshold: 0.99,
        },
    )
    slides.forEach((slide) => slideIntersectionObserver.observe(slide))

    // have to scroll manually otherwise snaps to the top
    // https://github.com/saadeghi/daisyui/issues/413
    const goTo = (event: Event) => {
        event.preventDefault()
        const btn = event.currentTarget! as HTMLElement

        const carousel = document.querySelector(".carousel")!

        const href = btn.getAttribute("href")!
        const target = carousel.querySelector<HTMLDivElement>(href)!
        const left = target.offsetLeft
        console.log(left, target)
        carousel.scrollTo({ left: left })
    }
    const slideAnchors = document.querySelectorAll(".slideAnchor")
    slideAnchors.forEach((elem) => {
        elem.addEventListener("click", goTo)
    })

    function throttle(fn: any, delay = 500) {
        let timer: NodeJS.Timeout | null = null

        // throttle 本身會回傳一個函式，透過 ...args 拿到該函式的引數
        return (...args: any) => {
            // 如果有計時器，表示還在 delay 的秒數內
            // 直接 return，不往下執行程式碼
            if (timer) return

            // 如果計時器不等於 null，會進到以下邏輯

            // 設定計時器，在 delay 秒數之後，會執行回調函式 fn，並將計時器值為改為 null
            // 如果還不到 delay 的秒數，則 timer 的值不為 null，不會進到這段邏輯
            // 可以達到 throttle 的目的，將一段時間內的操作，集合成一次執行
            timer = setTimeout(() => {
                fn(...args)
                timer = null
            }, delay)
        }
    }

    const nav = document.querySelector("nav")
    if (!nav) throw new Error("No nav found")

    let previousScrollPosition = 0
    const fadeOut = nav.animate([{ transform: "translateY(-100%)" }], {
        duration: 1200,
        iterations: 1,
        fill: "forwards",
        id: "fadeOut",
        easing: "ease-in-out",
    })
    fadeOut.pause()
    fadeOut.persist()
    const handleScroll = () => {
        const scrollPosition = window.scrollY
        // const curAnimations = nav.getAnimations()
        // console.log(nav, curAnimations)

        if (scrollPosition > previousScrollPosition) {
            if (scrollPosition < nav.clientHeight) return
            if (
                fadeOut.playbackRate == 1 &&
                (fadeOut.playState == "running" ||
                    fadeOut.playState == "finished")
            ) {
                return
            }

            fadeOut.playbackRate = 1
            fadeOut.play()
            fadeOut.persist()

            previousScrollPosition = scrollPosition
        } else {
            if (
                fadeOut.playbackRate == -1 &&
                (fadeOut.playState == "running" ||
                    fadeOut.playState == "finished")
            ) {
                return
            }

            fadeOut.playbackRate = -1
            fadeOut.play()
            fadeOut.persist()

            previousScrollPosition = scrollPosition
        }
    }
    window.addEventListener("scroll", throttle(handleScroll))

    const contactForm = document.querySelector(
        "#ContactForm",
    )! as HTMLFormElement
    contactForm.addEventListener("submit", async (e) => {
        e.preventDefault()
        const data = new FormData(contactForm)
        const dataObj = {} as any
        for (const [name, value] of data) {
            dataObj[name] = value
        }
        const response = await fetch("/handleContactForm", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(dataObj),
        })
        const result = await response.json()
        if (result.message == "Success") {
            document
                .querySelector("#submitResultMsg")
                ?.classList.remove("invisible")
        }
    })
</script>
