---
import "../styles/fontfaces.css"
const { frontmatter, readTime } = Astro.props
---

<html class="bg-blue-990">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>{frontmatter.title}</title>
    </head>
    <body class="mx-auto prose prose-invert mt-4">
        <div class="text-sm">
            <a href="/" class="text-gray-400 no-underline">Home</a>
            <span class="inline-block px-2 text-gray-400">&gt;</span>
            <a href="/zh-TW/novel" class="text-gray-400 no-underline">Novels</a>
            <span class="inline-block px-2 text-gray-400">&gt;</span>
            <span>{frontmatter.title}</span>
        </div>
        <div class="text-sm text-gray-400 mt-2">閱讀時間: {readTime}分鐘</div>
        <div class="text-sm text-gray-400 mt-2">寫在: {frontmatter.date}</div>
        <slot />
    </body>
</html>
